<div class="row">
    <div class="col-xs-2">.col-xs-2</div>
        
      <div class="col-xs-8">

        <div class="top-spacer">
          <h1 class="form-signin-heading">Remy</h1>
          <p>col-xs-8</p>
        </div>

      </div>

    <div class="col-xs-2">.col-xs-2</div>

</div>


<br>

<div class="row">


    <form class="form-signin">

        <div class="row">
          <div class="col-xs-2">.col-xs-2</div>
              
            <div class="col-xs-8">
                 <a id="load-in" href="<%= new_user_session_path %>"><button class="load-in-1 btn btn-lg btn-primary btn-block" type="submit">Sign in</button></a>
            </div>


          <div class="col-xs-2">.col-xs-2</div>

        </div>

    <br>

    <div class="row">
          <div class="col-xs-2">.col-xs-2</div>
              
            <div class="col-xs-8">
                 <a class="load-in" href="<%=  new_user_registration_path  %>"><button class="load-in btn btn-lg btn-primary btn-block" type="submit">Register</button></a>
            </div>

          <div class="col-xs-2">.col-xs-2</div>
        </div>

    </form>

</div>

<br>

<div class="row">
<div class="col-xs-2">.col-xs-2</div>
    
  <div class="col-xs-8">

    <div class="bottom-spacer">

    </div>

  </div>

<div class="col-xs-2">.col-xs-2</div>

</div>


