<div class="row">
    <div class="col-xs-2 col-md-4 col-lg-4 center-me"></div>
        
      <div class="col-xs-8 col-md-4 col-lg-4">

        <div class="top-spacer-new">
          
        <h1> New Task </h1>

        </div>

      </div>

    <div class="col-xs-2 col-md-4 col-lg-4 center-me"></div>

</div>

<%= render 'form' %>
