// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.fix-margin{
  margin-left: 10px;
  margin-right: 10px;
}

#fix-row {
  margin-left: 0px;
  margin-right: 0px;
}

.today {

  border: solid 2px red;
  border-radius: 2px;
  margin: 10px 10px;
  padding: 11px;
}

.one-day {

  border: solid 2px orange;
  border-radius: 2px;

  margin: 10px 10px;
  padding: 11px;

}

.two-day {

  border: solid 2px yellow;
  border-radius: 2px;

  margin: 10px 10px;
  padding: 11px;



}

.chill {

  border: solid 2px green;
  border-radius: 2px;


  margin: 10px 10px;
  padding: 11px;

}

.task-left{
  padding-top: 15px;
  border-radius: 100px;
  background-color: green;
  height: 150px;
}

.task-done{
  padding-top: 15px;
  border-radius: 100px;
  background-color: red;
  height: 150px;

}

.big-me{
  font-size: 30px;
}



